RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#Setting Character Set
	AddDefaultCharset UTF-8

#Prevent Directory Listing
	#Options - Indexes

#==============================
#Farsi Version Rules :START
#==============================
	RewriteRule ^fa/?$ fa/index.php [L]
#==============================
#Farsi Version Rules :END
#==============================

#==============================
#English Version Rules :START
#==============================
	RewriteRule ^en/?$ en/index.php [L]
#==============================
#English Version Rules :END
#==============================
