html{
	font-size: 16px;

	@include mq_min($xxlg){font-size: 18px;}
}

body {
	@extend %type-regular;
	font-size: rem(16);
	line-height: 1.7;
}

.page{
	/* use direction on page because of IE and Edge left vertical scroll */
	html.rtl &{
		direction: rtl;
		text-align: right;
	}
	html.ltr &{
		direction: ltr;
		text-align: left;
	}
}