%type-bold{
	font-family: IRANSans, tahoma, arial;
	font-weight: bold;
}
%type-medium{
	font-family: IRANSans, tahoma, arial;
	font-weight: 500;
}
%type-regular{
	font-family: IRANSans, tahoma, arial;
	font-weight: normal;
}
%type-light{
	font-family: IRANSans, tahoma, arial;
	font-weight: 300;
}