%type_bold{
	font-family: 'IRANSansBold',tahoma,arial;
}
%type_medium{
	font-family: 'IRANSansMedium',tahoma,arial;
}
%type_regular{
	font-family: 'IRANSans',tahoma,arial;
}
%type_light{
	font-family: 'IRANSansLight',tahoma,arial;
}