/**
 * media queries
 * @param  {int} $width
 */
@mixin mq_max($width){
	@media only screen and (max-width: $width){@content;}
}
@mixin mq_min($width){
	@media only screen and (min-width: $width + 1){@content;}
}
@mixin mq_min_max($min_width,$max_width){
	@media only screen and (min-width: $min_width) and (max-width: $max_width){@content;}
}


/**
 * example array of z-indexes
 * should be placed in _vars.scss
 * @param  {string} $layer
 * @return {int}
 */
@function z($layer) {
	@return map-get($z-layers, $layer);
}


/**
 * form input placeholder for different engines
 */
@mixin placeholder{
	&::-webkit-input-placeholder {
		 @content;
	}
	&:-moz-placeholder {
		 @content;
	}
	&::-moz-placeholder {
		 @content;
	}
	&:-ms-input-placeholder {
		 @content;
	}
}


/**
 * colored overlay on top of elements
 * using pseudo elements
 * @param  {string} $pos      before OR after
 * @param  {string} $color    hex OR rgb(a)
 * @param  {int} $z_index: 0  z-index of pseudo element
 */
@mixin overlay($pos,$color,$z_index: 0) {
	&::#{$pos} {
		display: block;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color;
		z-index: $z_index;
	}
}


/**
 * make element center in parent
 * using absolute positioning
 * @param  {boolean} $vertical
 * @param  {boolean} $horizontal
 */
@mixin centered($vertical,$horizontal){
	position: absolute;
	@if($vertical and $horizontal){
		left: 50%;
		top:50%;
    transform: translate(-50%,-50%);
	}
	@elseif($vertical){
		left:50%;
    transform: translateX(-50%);
	}
	@elseif($horizontal){
		top:50%;
    transform: translateY(-50%);
	}
}

/**
 * generate grid classes => check _grid.scss
 * @param  {string} screen width name
 */
@mixin col-generator($bp) {
	@for $col from 1 through 24 {
		.col-#{$bp}-#{$col} {
			width: percentage( $col / 24);
		}
		.col-#{$bp}-pull-#{$col} {
			right: percentage( $col / 24);
		}
		.col-#{$bp}-push-#{$col} {
			left: percentage( $col / 24);
		}
	}
	.col-#{$bp}-pull-0 {
		right: auto;
	}
	.col-#{$bp}-push-0 {
		left: auto;
	}
	@for $col from 0 through 12 {
		.col-#{$bp}-offset-#{$col} {
			margin-left: percentage( $col / 12);
		}
	}
}